body {
	background-color: #F98080;
}

.about-text {
	font-size: 22px;
	line-height: 24px;
	color: #3A5117;
}

.visit-site{
	font-size: 30px;
	color: #A31D12;
	text-decoration: none;
}

.visit-site:hover{
	font-size: 30px;
	color: #4d130e;
	text-decoration: none;
}

hr {
	color: #EE6864;
	border-color: #EE6864;
	background-color: #EE6864;
}