#contact-text {
	font-family: 'McLaren', sans-serif !important;
    font-size: 14px;
	line-height: 22px;
	color: #0d1f62;
}

body {
	background-color: #89b65d;
}

h1,
h4 {
    font-family: 'Love Ya Like A Sister', cursive !important;
}

a {
	color: #0d1f62;
	text-decoration: underline;
}