#terms-text {
	font-family: 'McLaren', sans-serif !important;
    font-size: 14px;
	line-height: 22px;
	color: #0d1f62;
}

#terms-text p {
	font-family: 'McLaren', sans-serif !important;
    font-size: 14px;
	line-height: 22px;
	color: #0d1f62;
}


h1,
h4 {
    font-family: 'Love Ya Like A Sister', cursive !important;
}

body {
	background-color: #89b65d;
}